
.jumbotron {
    background-color: #3F1052;
    color: #ffffff;
    padding: 100px 25px;
}
.gb-grey{
    background-color: #f6f6f6;
}
.container-fluid{
    padding: 60px 50px;
}
.logo{
    font-size: 200px;
}
@media screen and (max-width:768px){
    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }
}
/* add orange color all icons & font-size */
.logo-small{
    color: #f4511e;
    font-size: 50px;
}
.logo{
    color: #f4511e;
    font-size: 200px;
}
.thumbnail{
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.img-thumbnail{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.whatsapp-icon{
    margin-top: 16px;
}
.whatsapp_float{
    position:fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
@media screen and (max-width: 767px){
    .whatsapp-icon{
        margin-top: 10px;
    }
    .whatsapp_float{
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}